*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.applybox{
    max-width: 600px;
    padding: 20px;
    background-color:white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1,1,0.1);
    border-radius: 10px;
    color: #330033;
    opacity:0.8;

}
body{
    background-color: #330033;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='432' height='432' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='7'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='12'/%3E%3Ccircle cx='539' cy='269' r='12'/%3E%3Ccircle cx='603' cy='493' r='12'/%3E%3Ccircle cx='731' cy='737' r='12'/%3E%3Ccircle cx='520' cy='660' r='12'/%3E%3Ccircle cx='309' cy='538' r='12'/%3E%3Ccircle cx='295' cy='764' r='12'/%3E%3Ccircle cx='40' cy='599' r='12'/%3E%3Ccircle cx='102' cy='382' r='12'/%3E%3Ccircle cx='127' cy='80' r='12'/%3E%3Ccircle cx='370' cy='105' r='12'/%3E%3Ccircle cx='578' cy='42' r='12'/%3E%3Ccircle cx='237' cy='261' r='12'/%3E%3Ccircle cx='390' cy='382' r='12'/%3E%3C/g%3E%3C/svg%3E");
}
.title{
    font-size: 20px;
}
.formcontainer{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.formcontrol{
    display: flex;
    flex-direction: column;
}
label{
 font-size: 17px;
 margin-bottom: 4px;

}
input,select,textarea{
    padding: 6px 10px;
    border: 1px solid grey;
    border-radius: 2px;
    font-size: 15px;

}
input:focus{
    outline-color: rgb(202, 31, 31);
}
.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
button{
    background-color:rgb(100, 3, 100);
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
}
button:hover{
    background-color:rgb(255, 8, 255);
    border: 2px solid black;
    transform: 0.3s ease-out;
    cursor: pointer;
    color: black;
}
.textareacontrol{
    grid-column: 1/span 2;
}
.textareacontrol textarea{
    width: 100%;
}
@media(max-width:460px)
{
    .textareacontrol{
        grid-column: 1/span 1;
    }
}
